<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="TutorialsNinja.QAFox.listeners.MyListeners" />
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TutorialsNinja.QAFox.RegisterTest"/>
      <class name="TutorialsNinja.QAFox.LoginTest"/>
      <class name="TutorialsNinja.QAFox.SearchTest"/>
    </classes>
  </test>
</suite>
